{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": "off",
    "prefer-const": "off",
    "no-return-assign": "off",
    "arrow-parens": [2, "as-needed"],
    "no-nested-ternary": "off"
  }
}
