// site control styles
.controls {
  align-items: center;
  width: 30rem;
  display: flex;
  justify-content: center;
  text-shadow: 0.125rem 0.125rem $black;
  margin: auto;
}

.controls > button {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 8px;

}

.controls > button:hover{
  color: $accent;
  text-shadow: 0.125rem 0.125rem $dark

}
