.card {
  margin: 3% 20% 5% 20%;
border: $dark solid 0.5rem;
}

.card-header {
  font-size: 3rem;
  background: $body-bg;
  border: none;
  .card-title{
    background: $body-bg;
    border: none;
  }
}

.card-footer{
  font-size: 1.15rem;
  span{
    font-size: 2.5rem;
  }
}
