// styles portions of the timer
.display-label {
  font-size: 1.5rem;
  color: $gray;
  background: $body-bg;
}

.display {
  color: $dark;
  background: $body-bg;
  text-shadow: 0.25rem 0.25rem $light-gray;
margin-top: 2rem;
}

.appear {
  color: $gray;
  font-size: 1.5rem;
  background: $body-bg;
  margin: 0;
  padding: 0;
}
.empty{
  margin: 1rem;
}
