// for the logo

.App-logo {
  height: 5rem;
  pointer-events: none;
  border-radius: 55px;
  border: solid 0.25rem $black;
  margin-left: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 45s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
