$dark: #343a40;
$white: #ffffff;
$accent: #ffe171;
$black: #03040b;
$blue: #00caff;
$gray: #9e9e9e;
$dark-gray: #555;
$light-gray: #999;

$body-bg: $white;
$body-fg: $black;

$header-bg: $dark;
$header-fg: $white;

$footer-bg: $dark;
$footer-fg: $white;

$blink-time: 1.5s;
